.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
  background-color: paleturquoise;
}
.search-form {
  width: 500px;
  height: 40px;

  border-radius: 5px;
  border: 1px black;
}

.gallery {
  margin-top: 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  display: flex;
  gap: 10px;
}

.info-item {
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.load-more {
  display: block;
  margin: 50px auto 100px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: paleturquoise;
}
