.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
  background-color: paleturquoise;
}
.search-form {
  width: 500px;
  height: 40px;

  border-radius: 5px;
  border: 1px black;
}

.input-text {
  width: 300px;
  padding: 10px 5px;
  float: left;
  border: 1px;
  background-color: white;
  border-color: black;
  border-radius: 3px;
}
.btn {
  width: 150px;
  float: right;
  height: 100%;
  width: 130px;
  background-color: white;
  border-color: blue;
  border-radius: 3px;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: end;
  padding-top: 50px;
  padding-bottom: 50px;
}

.photo-card-img {
  display: block;
  width: 350px;
  max-height: 200px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: auto;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.info {
  display: flex;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.load-more {
  display: block;
  margin: 50px auto 100px;
  padding: 20px 30px;
  border-color: blue;
  border-radius: 3px;
  background-color: paleturquoise;
}
